 
.redline{
    border-color: red;
 }
/* mainhead/slogan/bighello */
h1{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
}
/* smallhead/buttons/jobtitle */
h2{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 175%;
    /* identical to box height, or 44px */
    text-transform: uppercase;
}
/* minihead */
h3{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #383C4A;
}
/* special hi */
h4{
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 90px;
}
h5{
font-family: Helvetica;
}
h6{
    font-family: Helvetica;
}
/* content text */
p{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 175%;
    color: #303030;
}
 
.inline-block {
    display: inline-block;
    vertical-align: top;
   
    }
/* spacer seperates header from body content */
.spacer
{
    width: 100%;
    height: 72px;
}
 
 
/* TOP NAVIGATION */
#floatingMenu{
    clear: both;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    }
header{
    
    display: inline-block;
    position: fixed;
    height: 120x;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
    max-width:100%;
    z-index: 1;
        }
 
    /* Top nav list items: */
    nav {
        position: relative;
        left: 0px;
        right: 0px;
        top: 0px;
        width: 98%;
        height: 116px;
        background-color: #fff;
        font-family: 'Helvetica';
        font-style: light;
        font-weight: 500;
        font-size: 25px;
        line-height: 175%;
        }
        .navMargin{
            margin-top: 15px;
            margin-left:15px;
            margin-right: 15px;
            margin-bottom: 15px;
        }
        .topnavList {
                width: auto;
                text-align: center;
                float: right;
                right: 0;
                color: #303030;
               
            }
            a {
                text-decoration: none;
                color:#303030;
             }
             a:visited{
                color:#303030;
             }
    .logo {
        margin-left: 180px;
        margin-right: auto;
            display: inline-block;
            height: 116px;
            background-color: #fff;
            position: absolute;
            top: 0px;                 
            }


.parentcontainer{
    display: flex;
    flex-direction: column;
}


   
    #LANDleft {
    float: left;
    width: 1000px;
    margin-left: 180px;
    margin-top: 300px;
    height:848px;
    align-items:center;
    justify-content: center;
    }

    #LANDleft p{
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 175%;
        color: #303030;
        width: 75%;
        height: 140px;
        
    }
    #LANDright {
    width: 25%;
    float: right;
    height:848px;
    margin-top: 150px;
    /* align-items: flex-start; */
    }
 

    /* Copied from https://codepen.io/alvarotrigo/pen/popvzVw */
mark {
    -webkit-animation: 1s highlight 1s 1 normal forwards;
            animation: 1s highlight 1s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #FDECE9 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}
@-webkit-keyframes highlight {
    to {
    background-position: 0 0;
    }
}
@keyframes highlight {
    to {
    background-position: 0 0;
    }
}

 
 
 
body{
    width: 100%;     
}
 
 
 
   
/*MAIN CONTENT*/
    .content {
    width:100%;
    }


/* CASA */ 
  #CASAleft {    
    background-color: #FAF9FD;
    width: 50%;
    height:504px;
    float: left;
    align-items: center; 
    justify-content: center;
    
  }
    #CASAleft h3{
        padding-left: 72px;
    }

    #CASAleft h1{
        padding-left: 72px;
        color: #7251B5;
    }
    #CASAleft p{
        width: 64%;
        padding-left: 72px;
    }
    #CASAleft button{
        margin-left: 72px;
        border: 3px solid #7251B5;
    }
    #CASAleft h2{
        color: #7251B5;
    }
    #CASAleft button:hover{
        transition-duration: 0.2s;
        background-color:#7251B5;
    }
    #CASAleft button:hover h2{
        color: #ffffff;
    }
#CASAright {
    background-color: #ECEAF6;
    width: 50%;
    height: 504px;
    float: right;
    align-items: center;
    justify-content: center;
  }
  #CASA img{
    width: 90%;
  }

 

  /* NSA */
  #NSA {

    height: 504px;
  }
  #NSA img{
    height: 90%;
 }
 #NSAleft {
    height: 504px;
    background-color: #CFDFEF;
    width: 50%;
    float: left;
    align-items: center;
    justify-content: center;
  }
  #NSAright {
    height: 504px;
    background-color: #F5F9FC;
    width: 50%;
    float: right;
    align-items: center; 
    justify-content: center;   
}
    #NSAright h3{
        padding-left: 144px;
     }
     #NSAright h1{
        padding-left: 144px;
        color: #1E7BB7;
     }
     #NSAright p{
        width: 420px;
        padding-left: 144px;
     }
     #NSAright button{
        margin-left: 144px;
        border-color: #1E7BB7;
        color: #1E7BB7;
     }
     #NSAright button:hover{
        transition-duration: 0.2s;
        background-color:#1E7BB7;
     }
     #NSAright button:hover h2{
        color: #ffffff;
     }
     #NSA h2{
        color: #1E7BB7;
     }
 
/* ONLYPETS */
 
  #OPleft {
    background-color: #FEFAF6;
    width: 50%;
    height:504px;
    float: left;
    align-items: center; 
    justify-content: center;
  }

 #OPleft h3{
    padding-left: 72px;
 }
 #OPleft h1{
    padding-left: 72px;
    color: #F88A39;
 }
 #OPleft p{
    width: 420px;
    padding-left: 72px;
 }
 #OPleft button{
    margin-left: 72px;
    border-color:#F88A39;
    
 }
 #ONLYPETS h2{
    color: #F88A39;
 }
 #OPleft button:hover{
    transition-duration: 0.2s;
    background-color:#F88A39;
 }
 #OPleft button:hover h2{
    color: #ffffff;
 }
 
  #OPright {
    background-color: #F8E2C8;
    width: 50%;
    height: 504px;
    float: right;
    align-items: center;
    justify-content: center;
}
 #OPright img{
   height: 90%;
   align-items: center;
justify-content: center;
  
 }
 

/* CONTACT */
    #CONTACT {
        display: flex;
        max-width: 100%;
        height: 500px;
      }
     
      #chatleft {
        width: 50%;
        float: left;
      }
     
      #chatright {
        list-style: none;
        width: 50%;
        float: right;}
 #chatright img{
    margin-left: 72px;
    margin-top: 20px;
  
 }
 #chatleft h3{
    margin-left: 144px;
 }
 #chatleft h1{
    margin-left: 144px;
    color: #FF6C99;
 }
 #chatleft p{
    width: 420px;
    margin-left: 144px;
 }
 #chatleft button{
    margin-left: 144px;
    border-color: #FF6C99;
 }
 #CONTACT h2{
    color: #FF6C99;
 }
 #chatleft button:hover{
    transition-duration: 0.2s;
    background-color:#FF6C99;
 }
 #chatleft button:hover h2{
    color: #ffffff;
 }
 
/* BUTTONS */
button{
    box-sizing: border-box;
    align-items: center;
    width: 300px;
    height: 84px;
    background: #FFFFFF;
    border: 3px solid #000;
}  
   
 
 
 
/*FOOTER*/
footer{
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 116px;
    width: 100%;
    margin-left: 30%;  
    text-align: right;
    float: right;
    height: 116px;
    background: #FDECE9;
    }


    

.footerList {
    margin-top: 15px;
    margin-left:15px;
    margin-right: 72px;
    margin-bottom: 15px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 175%;
    }
 
 
 
/* "ABOUT PAGE"*/
.bigHello{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    color: #000000;
}
.jobTitle{
    font-family: 'Helvetica';
    font-style: normal;
}
.careerSlogan{

    left: 110px;
    margin-top: 72px;
    width: 500px;
    height: 55px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    color: #000000;
}
#Careerleft {
    float: left;
    margin-left: 180px;
    margin-top: 144px;
    }
    #jobtitleh2{
        font-weight: 500;
    }
#Careerright {
    float: right;
    margin-right: 288px;
    margin-top: 144px;
    }
 span{
    color: #FF6C99;
 }
 #aboutP1{
    width: 800px;
  
   }
 .aboutP2{
    width: 800px;
 }
 .aboutP3{
    width: 900px;
 }
 .pspacer
{
    width: 100%;
    height: 20px;
}

